<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fontendo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fontendo.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="FontBackgroundColor" serializeAs="String">
                <value>123, 64, 194</value>
            </setting>
        </Fontendo.Properties.Settings>
    </userSettings>
</configuration>